* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

a {
    padding: 5px 10px;
    background: rgb(0, 183, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    margin: 20px auto;
    width: 30%;
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 100%;
}


.hero {
    background-color: black;
    margin-bottom: 50px;

}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.hero .content {
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}